* {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

html, body {
    font-family: 'Muli', sans-serif;
    font-size: 0.9em;
    height: 100%;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
 }

table {
    margin: 0 auto;
}

#root {
    background-color: #FFF;
    position: relative;
    height: auto;
    min-height: 100%;
}

.container {
    margin-left: 0.8em;
    margin-right: 0.8em;
}

.card {
    border-radius: 0.3em;
    padding-right: 0px;
    overflow: hidden;
    margin-bottom: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E1F5FE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card.incorrect {
    border-left: 8px solid #EC407A;
}
.card.correct {
    border-left: 8px solid #00B0FF;
}
.card.unknown {
    border-left: 8px solid white;
}
.correctness.selected {
    background-color: #00B0FF;
}

.prob.selected {
    background-color: #00B0FF;
}

.card-title {
    flex: 1;
    margin: 0.7em;
}

.badge {
    background-color: #80D8FF;
    padding: 0.5em;
    border: none;
    outline: none;
    display: flex;
}

.probability {
    font-weight: bold;
    align-self: center;
}

.date {
    font-size: small;
}

.input {
    width: 100%;
}

.card-change > select, .card-change > button {
    margin: 0.3em 0.6em;
}

.card-parameters {
    display:flex;
    align-self: stretch;
    justify-content: space-between;
}

.btn-save-card, .btn-add {
    border-radius: 0.3em;
    background-color: #00B0FF;
    align-self: center;
}

.btn-delete-card {
    border-radius: 0.3em;
    background-color: #EC407A;
}

.btn-close {
    border-radius: 0.3em;
    color: #EC407A;
    background-color: #FFF;
    align-self: flex-end;
}

button:focus.bage, button:active.bage {
    border: none;
    outline: none;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0dedc;
}

.btn-login {
    margin: 15px;
    border-radius: 0.3em;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 0 1px 2px #584c46;
}

.btn-login:active {
  box-shadow: 0 0px;
  transform: translateY(1px);
}

.btn-logout {
    background-color: #0091EA;
    color: white;
    border: none;
}

.btn-login.Google {
    background-color: #AF1C1C;
}

.btn-login.Github {
    background-color: #31A2C2;
}

.btn-login > .fa {
    margin-right: 10px;
}

.header {
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #0091EA;
}

.text-center {
    text-align: center;
}
.title {
    flex: 85%;
    color: white;
    font-weight: bold;
    margin:0.4em;
}

.card-form {
    background-color: white;
    margin-top: 10px;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
}

.recharts-wrapper {
    background-color: white;
}


input, select {
    border-radius: 0.3em;
    font-size: 0.9em;
    padding: 0.2em;
}

.card-delete {
    margin-left: 0.8em;
    margin-right: 0.8em;
    align-self: center;
}

.card-change {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*.probability-select {
    display: flex;
    flex-direction: column;
}

.correct-select {
    display: flex;
    flex-direction: column;
}*/

.flex-column {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}


@media (min-width: 700px) {
    .container {
        margin-left: 5em;
        margin-right: 5em;
    }
    html, body {
        font-size: 1em;
    }
    /*.card-form {
        flex-direction: row;
    }*/
    .card-form .card-title {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .card-change select, .card-change button {
        margin: 0.3em;
    }
}

@media (min-width: 1000px) {
    .container {
        margin: auto;
        max-width: 700px;
    }
}