* {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

html, body {
    font-family: 'Muli', sans-serif;
    font-size: 0.9em;
    height: 100%;
}


table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
 }

table {
    margin: 0 auto;
    width: 100%;
}

table.stat td {
  text-align: right;
  padding: 0.5em;
}

#root {
    background-color: #FFF;
    position: relative;
    height: auto;
    min-height: 100%;
}

.container {
    margin-left: 0.8em;
    margin-right: 0.8em;
}

.card {
    border-radius: 0.3em;
    padding-right: 0px;
    overflow: hidden;
    margin-bottom: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E1F5FE;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card.incorrect {
    border-left: 8px solid #EC407A;
}
.card.correct {
    border-left: 8px solid #00B0FF;
}
.card.unknown {
    border-left: 8px solid #E1F5FE;
}

.value {
    padding: 0.2em;
}

.value:focus {
    outline: none;
}

.selected {
    border-radius: 0.3em;
    background-color: #00B0FF;
    color: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.correctness {
    justify-content: center;
    align-items: baseline;
}

.correctness .value {
    margin: 0.3em;
}

.card-title {
    flex: 1;
    margin: 0.7em;
}

.badge {
    background-color: #80D8FF;
    padding: 0.5em;
    border: none;
    outline: none;
    display: flex;
}

.probability {
    font-weight: bold;
    align-self: center;
}

.date {
    font-size: small;
}

.input {
    width: 100%;
}

.card-change > select, .card-change > button {
    margin: 0.3em 0.6em;
}

.card-parameters {
    display:flex;
    align-self: stretch;
    justify-content: space-around;
}

.btn-save-card {
    border-radius: 0.3em;
    background-color: #00B0FF;
    align-self: center;
    flex: 1 0;
    margin: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.btn-add {
    position: fixed;
    align-self: center;
    border-radius: 0.3em;
    bottom: 2.5em;
    right: 2.5em;
    border-radius: 50%;
    color: #fff;
    background-color: #EC407A;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.icon-background{
    color: #EC407A;
}

.btn-delete-card {
    border-radius: 0.3em;
    background-color: #EC407A;
    flex: 1 0;
    margin: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.btn-close {
    /*border-radius: 0.3em;*/
    color: #EC407A;
    background-color: #0091EA;
    /*align-self: flex-start;*/
}

button:focus.bage, button:active.bage {
    border: none;
    outline: none;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E1F5FE;
    /*color: #FFF;*/
}

.btn-login {
    margin: 15px;
    border-radius: 0.3em;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #0091EA;
    color: #FFF;
}

.btn-login:active {
  box-shadow: 0 0px;
  transform: translateY(1px);
}

.btn-logout {
    background-color: #0091EA;
    color: white;
    border: none;
    order: 2;
}

/*.btn-login.Google {
    background-color: #0091EA;
    color: #FFF;
}

.btn-login.Github {
    background-color: #0091EA;
    color: #FFF;
}*/

.btn-login > .fa {
    margin-right: 10px;
}

.header {
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #0091EA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 1.5em; 
}

.text-center {
    text-align: center;
}

.title {
    flex: 85%;
    color: white;
    font-weight: bold;
    margin: 0.4em;
}

.card-form {
    background-color: white;
    flex-direction: column;
    align-items: stretch;
    margin: 0.4em;
    font-size: 1.6em;
}

.recharts-wrapper {
    background-color: white;
}

input, select {
    border-radius: 0.3em;
    font-size: 0.9em;
    padding: 0.2em;
}

.buttons {
    margin: 0 0.8em;
    align-self: center;
    display: flex;
}

.card-change {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i {
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}


@media (min-width: 700px) {
    .container {
        margin-left: 5em;
        margin-right: 5em;
    }
    html, body {
        font-size: 1em;
    }
    /*.card-form {
        flex-direction: row;
    }*/
    .card-form{
        font-size: 1em;
    }
    .card-form .card-title {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .card-change select, .card-change button {
        margin: 0.3em;
    }
    .btn-add {
        right: 9em;
    }
}

@media (min-width: 1000px) {
    .container {
        margin: auto;
        max-width: 700px;
    }
    .btn-add {
        right: calc(50% - 280px)
    }
}