.container {
    margin-left: 0.8em;
    margin-right: 0.8em;
}

@media (min-width: 700px) {
    .container {
        margin-left: 5em;
        margin-right: 5em;
    }
}

@media (min-width: 1000px) {
    .container {
        margin: auto;
        max-width: 800px;
    }
}

.card {
    border: solid 1px #ccc;
    border-radius: 0.3em;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-title {
    flex: 1;
    margin-right: 1em;
    margin-left: 2px;
}

.badge {
    border-radius: 0.5em;
    background-color: cadetblue;
    padding: 0.5em;
    font-weight: bold;
    border: none;
    outline: none;
}

.card.incorrect {
    background-color: chocolate;
}
.card.correct {
    background-color: palegreen;
}

.date {
    font-size: small;
}

.input {
    width: 100%;
}

.card-parameters > select, .card-parameters > span, .card-parameters > button {
    margin: 5px;
}

.btn-save-card {
    background-color: mediumseagreen;
}

.btn-delete-card {
    background-color: indianred;
}

button:focus.bage, button:active.bage {
    border: none;
    outline: none;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFD394;
}

.btn-login {
    margin: 15px;
    border-radius: 0.35em;
    padding: 10px;
    border: solid 1px #000;
    outline: none;
}

.btn-logout {
    background-color: mediumseagreen;
    border: none;
}

.btn-login.Google {
    margin: 15px;
    background-color: #EA4335;
}

.btn-login.Github {
    margin: 15px;
    background-color: #C6E48B;
}

.btn-login > .fa {
    margin-right: 10px;
}

.header {
    width:100%;
    /*height: 30px;*/
    display: flex;
    justify-content: center;
    /*align-content: center;*/
    background-color: mediumseagreen;
}

.text-center {
    text-align: center;
}
.title {
    flex: 85%;
}
